<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <title>{% block title %}Easy Phi - test measurement equipment platform{% end %}</title>
    {% block css %}{% end %}
</head>

<body>
<header id="header">
    {% block header %}
        <!-- api key, login/logout and links to Admin functions go here -->
    {% end %}
</header>

<aside id="platform_info_container">
    {% block aside %}  {% end %}
</aside>

<main>
    <div id="modules_list">
        <noscript>This page does not work without JavaScript.</noscript>
    </div>

    <div id="console_container">
        <label for="console_log">System log:</label>
        <button id="console_clear_btn">Clear</button>
        <div id="console_log"></div>
    </div>
</main>

<footer>
    <div id="txt_copyright">© 2015 University of Geneva - easy-phi</div>
</footer>

{% block js %}{% end %}
</body>
</html>


