<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <title>{% block title %}Easy Phi - test measurement equipment platform{% end %}</title>
    {% block css %}
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/themes/redmond/jquery-ui.min.css"
          type="text/css" media="screen, projection">

    {% end %}
</head>

<body>
<header id="header">
    {% block header %}
        <!-- api key, login/logout and links to Admin functions go here -->
    {% end %}
</header>

<aside id="aside">
    {% block aside %}  {% end %}
</aside>

<main>
    {% block main %}
    {% end %}
</main>

<footer>
    <div id="txt_copyright">© 2015 University of Geneva - easy-phi</div>
</footer>

{% block common_js %}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
{% end %}

{% block js %}{% end %}
</body>
</html>


