html, body {
    height: 100%;
    background: #DDDAD6;
}
div.header_container {
    position: relative;
    font-size:large;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    width:95%;
    padding-right: 10px;
    height: 10%;
}
div.logo {
    position: absolute;
    bottom: 0px;
    width: 10%;
    height: 100%;
}
div.header_text {
    position:absolute;
    bottom: 0px;
    left: 10%;
    width: 90%;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

.left_container {
    position:relative;
    background: #A6D8DE;
    width:30%;
    height: 80%;
    float:left;
    box-shadow: 10px 10px 5px #888888;
}
.right_container {
    position:relative;
    width:70%;
    height: 80%;
    float:left;
}
#platform_info_container {
    margin: 5px;
    padding: 5px;
    width:90%;
    height: 40%;
}
#platform_info {
    background: white;
    margin-top: 5px;
    border: 1px solid black;
    padding: 5px;
    line-height: 200%;
}
#console_container {
    position: absolute;
    bottom: 0;
    left: 0;
    width:90%;
    margin: 5px;
    padding: 5px;
    height: 40%;
}
#log_console {
    background: white;
    margin-top: 5px;
    height: 80%;
    width: 100%;
    overflow: auto;
    border: 1px solid black;
    resize:none;
}

#modules_list_container {
    margin:auto;
    width:80%;
    height: 100%;
    padding: 5px;
}

footer {
    clear:both;
    position: absolute;
    text-align: right;
    bottom:0px;
    height: 5%;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 2px solid black;
    width:95%;
    padding-right: 10px;
}
a {
    size: xx-small;
    background: #66FFB2;
    width: 35px;
    height: 10px;
    font-size: xx-small;
    text-align:center;
    cursor: pointer;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 5px 5px;
    float:right;
    }

a.down {
    size: xx-small;
    background: #FF3333;
    width: 35px;
    height: 10px;
    font-size: xx-small;
    text-align:center;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
    float:right;
}







