/* TODO: copy reset here */
#platform_info_container {
    display:none;           /* FOR DEBUG PURPOSES */
    margin: 5px;
    padding: 5px;
    width:90%;
    height: 40%;
}
#platform_info {
    background: white;
    margin-top: 5px;
    border: 1px solid black;
    padding: 5px;
    line-height: 200%;
}
#console_container {
    display:none;           /* FOR DEBUG PURPOSES */
    position: absolute;
    bottom: 0;
    left: 0;
    width:90%;
    margin: 5px;
    padding: 5px;
    height: 40%;
}
#log_console {
    background: white;
    margin-top: 5px;
    height: 80%;
    width: 100%;
    overflow: auto;
    border: 1px solid black;
    resize:none;
}
/*=========================================
*        MAIN CONTENT CONTAINER
*=========================================*/
main {
    text-align: center;
}
/*=========================================
*        MODULE LIST CONTAINER
*=========================================*/
#modules_list {
    margin:auto;
    width:80%;
    min-width:500px;
    max-width:800px;
    height: 100%;
    padding: 5px;
    text-align: left;
}
/*-------------------------------------------
        MODULE HEADER
-------------------------------------------*/
#modules_list header {
    font-size:larger;
    font-weight: bold;
    overflow:hidden; /* long module names */
    color:white;
    background-color: darkgrey;
    border-radius: 0.5em;
    padding: 1em;
    margin:0.1em 0;
    position:relative; /* to allow absolute positioning of lock UI elements */
    left:0;
}
#modules_list header.active {
    background-color: #3049ab;
    cursor:pointer;
}
#modules_list header.open {
    border-radius:0.5em 0.5em 0 0;
}

.module_lock {
    position:absolute;
    right:1em;
    background-image:none;
    font-size:smaller;
}
.module_lock:not(:empty):before {
    content:"Locked by: "
}
#modules_list .module_lock.locked {
    /* this selector is more specific so it will override rules of .module_lock*/
}
/*-------------------------------------------
        MODULE CONTROL PANEL
-------------------------------------------*/
.control_panel {
    padding: 1em;
    display:none;
    border: 1px solid black;
    border-top:none;
    border-radius: 0 0 0.5em 0.5em;
    margin:-1em 0 0;
    text-align:right;
}
.open + .control_panel {
    display:block;
}
/*=============WIDGET=======================*/
.widget {
    display:block;
    padding:0.2em;
}
.widget > input, .widget > button {
    margin:0.2em;
}

footer {
    position: absolute;
    text-align: right;
    bottom:0;
    height: 5%;
    margin: 0 10px;
    border-top: 2px solid black;
    width:95%;
    padding: 0 10px;
    font-size: smaller;
}
